# folders
/.dacap-tmp
/.npm
/.nyc_output
/.tmp
/.vscode
/coverage
/data
/docs
/helmchart
/site
/src
/test

# files
/.dockerignore
/.git*
/.nycrc
/docker-compose.yml
/Dockerfile
/mkdocs.yml
/package-lock.json
/tsconfig.json
/webpack.*.js
/*.tgz