/.git*
/docker-compose.yml
/data
/.vscode
/docs
/mkdocs.yml
/tsconfig.json
/webpack.*.js
/src
/site
/.tmp
/test
/coverage
/.eslintrc.json
/jsconfig.json
/package-lock.json
/report.xml
/Dockerfile
/*.tgz